body {
    font-family: 'Segoe UI', sans-serif;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
}

#page-content-wrapper {
    flex: 1;
}

.toggled #sidebar-wrapper {
    margin-left: -250px;
}
